*
{
	font-family: "Trebuchet MS", calibri;
}

header .flex container
{
	display: flex;
}

h1
{
	font-size: 3em;
	font-weight: normal;
}

#photo
{
	background-color: #FFC107;
	width: 30%;
	height: 200px;
	display: flex;
}

#moi
{
	display: block;
	margin: auto;
	width: 40%;
	border-radius: 50%;
	padding: 8%;
}

#nom_poste
{
	background-color: white;
	color: black;
	width: 70%;
	padding: 0px 40px 0px 40px;
	height: 200px;
	margin: auto;
}

#nom_poste h1 span
{
	color: #FFC107;
}

#nom_poste h1
{
	margin-bottom: 5px;
	margin-top: 7%;
}

#nom_poste p span
{
	text-decoration: underline;
	text-decoration-color: #FFC107;
}

#nom_poste p
{
	color: #424242;
	font-size: 1.5em;
	margin-top: 5px;
}

#contaplo
{
	background-color: #FFC107;
	color : #424242;
	width: 30%;
	font-style: normal;
}

#contaplo h2
{
	background-color: #424242;
	color : #FFC107;
	font-size: 1.5em;
	text-align: center;
}

.flex-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#forexpre
{
	width: 70%; 
	padding: 0px 40px 0px 40px;
}

#formation header , #experience header , #recommandations header
{
	border-bottom: 3px solid #FFC107;
}

#forexpre h2
{
	font-size: 1.5em;
	margin-bottom: 1px;
	font-style: normal;
}

#a_propos p
{
	text-align: justify;
	padding: 0px 40px 0px 40px;
}

#contact ul
{
	word-wrap: break-word;
	list-style-type: none;
}

#loisirs flex-container
{
	display: flex;
	padding: auto;
}

#loisirs
{
	height: 125px;
}

#forexpre ul
{
	color : #424242;
}

#un ul , #deux ul , #trois ul , #quatre ul , #recommandations ul
{
	list-style-type: none;
	font-style: normal;
}

.first ul
{
    list-style-type: disc;
    list-style-image: url(puce1bis.png);
}

.first em
{
	font-style: normal;
	display: inline-block;
	padding-top: 0px;
}

.second li
{
	color: #FFC107;
}

.second em
{
	color : #424242;
	font-style: normal;
	padding-top: 0px;

}

#forexpre span
{
	font-weight: bold;
	font-style: normal;
}

#loisirs i
{
	color : #424242;
	justify-content: space-between;
	margin: auto;
	border : 1px solid #424242;
	border-radius: 50%;
	padding: 2%;
}

#forexpre i
{
	color : #FFC107;
	margin-right: 15px;
}

#loisirs .flex-container
{
	flex-direction: row; 
}

@media all and (max-device-width: 480px) 
{
	*
	{
		font-family: "Trebuchet MS", calibri;
	}

	header .flex-container
	{
		display: flex;
		flex-direction: column;
	}

	h1
	{
		font-size: 2em;
		font-weight: normal;
	}

	#photo
	{
		background-color: #FFC107;
		width: 100%;
		height: 200px;
	}

	#moi
	{
		display: block;
		margin: auto;
		width: 40%;
		border-radius: 50%;
		max-height: 150px;
		padding-top: 5%;
	}

	#nom_poste
	{
		background-color: white;
		color: black;
		width: 100%;
		padding: 0px 0px 0px 0px;
		height: 150px;
		margin: auto;
		text-align: center;
	}

	#nom_poste h1 span
	{
		color: #FFC107;
	}

	#nom_poste h1
	{
		margin-top: 10%;
	}

	#nom_poste p span
	{
		text-decoration: underline;
		text-decoration-color: #FFC107;
	}

	#nom_poste p
	{
		color: #424242;
		font-size: 1.3em;
		margin-top: 0px;
	}

	.flex-container
	{
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: nowrap;
	}

	#contaplo
	{
		width: 100%;
	}

	#forexpre
	{
		width: 100%;
		padding: 0px;
	}

	#loisirs .flex-container
	{
		flex-direction: row; 
	}

	#loisirs i
	{
		color : #424242;
		justify-content: space-between;
		margin: auto;
		border : 1px solid #424242;
		border-radius: 50%;
		padding: 2%;
	}

	#experience .flex-container , #formation .flex-container
	{
		flex-direction: column;
	}

	#contaplo
	{
		font-style: normal;
	}

	#recommandations
	{
		margin-bottom: 40px;
	}

	#contact h2
	{
		margin-top: 0px;
	}

	#contaplo h2, #forexpre h2
	{
		font-size: 1.3em;
	}

	#contact ul
	{
		word-wrap: break-word;
		list-style-type: none;
		text-align: center;
		padding-left: 0px;
	}
}

@media screen and (min-width: 490px) and (max-width: 1024px)
{
	*
	{
		font-family: "Trebuchet MS", calibri;
	}

	header .flex-container
	{
		display: flex;
		flex-direction: column;
	}

	h1
	{
		font-size: 2em;
		font-weight: normal;
	}

	#photo
	{
		background-color: #FFC107;
		width: 100%;
		height: 200px;
	}

	#moi
	{
		display: block;
		margin: auto;
		width: 20%;
		border-radius: 50%;
		max-height: 150px;
		padding: 5px 0px 0px 0px;
	}

	#nom_poste
	{
		background-color: white;
		color: black;
		width: 100%;
		padding: 0px 0px 0px 0px;
		height: 150px;
		margin: auto;
		text-align: center;
	}

	#nom_poste h1 span
	{
		color: #FFC107;
	}

	#nom_poste h1
	{
		margin-top: 5%;
	}

	#nom_poste p span
	{
		text-decoration: underline;
		text-decoration-color: #FFC107;
	}

	#nom_poste p
	{
		color: #424242;
		font-size: 1.3em;
		margin-top: 0px;
	}

	.flex-container
	{
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: nowrap;
	}

	#contaplo
	{
		width: 100%;
	}

	#forexpre
	{
		width: 100%;
		padding: 0px;
	}

	#loisirs .flex-container
	{
		flex-direction: row; 
	}

	#loisirs i
	{
		color : #424242;
		justify-content: space-between;
		margin: auto;
		border : 1px solid #424242;
		border-radius: 50%;
		padding: 1.5%;
	}

	#experience .flex-container , #formation .flex-container
	{
		flex-direction: column;
	}

	#contaplo
	{
		font-style: normal;
	}

	#recommandations
	{
		margin-bottom: 40px;
	}

	#contact h2
	{
		margin-top: 0px;
	}

	#contaplo h2, #forexpre h2
	{
		font-size: 1.3em;
	}

	#contact ul
	{
		word-wrap: break-word;
		list-style-type: none;
		text-align: center;
		padding-left: 0px;
	}
}